# **Chapter 5. [ë°ì´í„°ë² ì´ìŠ¤] ì‡¼í•‘ëª° ë°ì´í„°ë² ì´ìŠ¤ ë§Œë“¤ê¸°**


---
### ğŸ“ **í•™ìŠµ ëª©ì°¨**
> 5-1. í”„ë¡œì íŠ¸ ê°œìš” <br>
> 5-2. csv íŒŒì¼ ë‹¤ë£¨ê¸° - csv <br>
> 5-3. ë°ì´í„° ë² ì´ìŠ¤ ì—°ê²° - sqlite3 <br>
> 5-4. ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°, ì¡°íšŒí•˜ê¸° - fetchone, fetchall <br>
> **5-5. ë°ì´í„° ì‚½ì…, ìˆ˜ì •, ì‚­ì œ** <br>
> 5-6. ë°ì´í„° ë°±ì—…í•˜ê¸° - iterdump <br>
> 5-7. í”„ë¡œì íŠ¸ ì‹¤ìŠµ

## 5-5. ë°ì´í„° ì‚½ì…, ìˆ˜ì •, ì‚­ì œ

> ### ë°ì´í„° ë² ì´ìŠ¤ ì¿¼ë¦¬ ê¸°ë³¸ êµ¬ë¬¸
> - `SELECT` : ë°ì´í„° ì„ íƒ
> - `INSERT` : ë°ì´í„° ì‚½ì…
> - `UPDATE` : ë°ì´í„° ìˆ˜ì •
> - `DELETE` : ë°ì´í„° ì‚­ì œ

### 5-5-1. ë°ì´í„° ì‚½ì… (INSERT)

In [9]:
import sqlite3

In [10]:
# ì—°ìŠµìš© DB ì—°ê²°
conn = sqlite3.connect("test.db")

In [11]:
# ì»¤ì„œ ìƒì„±
c = conn.cursor()

In [12]:
# í…Œì´ë¸” ìƒì„±
query = '''CREATE TABLE test (ID INTEGER PRIMARY KEY, PRODUCT_NAME TEXT, PRICE INTEGER)'''
c.execute(query)

In [13]:
# í…Œì´ë¸” ìƒì„±í™•ì¸
c.execute('''SELECT * FROM sqlite_master WHERE type="table"''')
print(c.fetchall())

[('table', 'test', 'test', 2, 'CREATE TABLE test (ID INTEGER PRIMARY KEY, PRODUCT_NAME TEXT, PRICE INTEGER)')]

#### INSERT ë°©ë²• 1. ì—´(í‚¤) í•­ëª© ìˆœì„œë¥¼ ì •í™•íˆ ì•Œê³  ìˆëŠ” ê²½ìš°

In [14]:
# ë°ì´í„° ì‚½ì…
c.execute("INSERT INTO test VALUES(1,'ëª¨ì',150000)")

In [15]:
conn.commit()

In [16]:
# ë°ì´í„° ì‚½ì…
c.execute("INSERT INTO test VALUES(2,'ì½”íŠ¸',200000)")
conn.commit()

####  INSERT ë°©ë²• 2. ì—´(í‚¤) í•­ëª© ìˆœì„œë¥¼ ì •í™•íˆ ëª¨ë¥´ëŠ” ê²½ìš°

In [17]:
# ë°ì´í„° ì‚½ì…
c.execute("INSERT INTO test(PRODUCT_NAME, PRICE, ID) VALUES(?,?,?)", ('í‹°ì…”ì¸ ', 20000, 3))
conn.commit()

In [18]:
# ë°ì´í„° ì‚½ì…
c.execute("INSERT INTO test(ID, PRICE, PRODUCT_NAME) VALUES(?,?,?)", (4, 55000, 'ë¸”ë¼ìš°ìŠ¤'))
conn.commit()

####  INSERT ë°©ë²• 3. ì—¬ëŸ¬ ë°ì´í„°ë¥¼ í•œë²ˆì— ì‚½ì…í•˜ê³  ì‹¶ì€ ê²½ìš°

In [19]:
# í…Œì´ë¸” ë‚´ìš© ì‚­ì œ
c.execute("DELETE FROM test")
conn.commit()

In [21]:
# ì¶”ê°€í•  ìƒí’ˆ ë¦¬ìŠ¤íŠ¸
product_list = [[1, 'ëª¨ì', 15000],
                [2, 'ì½”íŠ¸', 200000],
                [3, 'í‹°ì…”ì¸ ', 20000],
                [4, 'ë¸”ë¼ìš°ìŠ¤', 55000],
                [5, 'ê°€ë””ê±´', 45000],
                [6, 'ì²­ë°”ì§€', 50000],
                [7, 'êµ¬ë‘', 150000],
                [8, 'ê°€ë°©', 170000]]

In [22]:
# ë°ì´í„° ì—¬ëŸ¬ì¤„ ì‚½ì…
c.executemany("INSERT INTO test(ID, PRODUCT_NAME, PRICE) VALUES(?,?,?)", product_list)
conn.commit()

### 5-5-2. ë°ì´í„° ìˆ˜ì • (UPDATE)

#### UPDATE ë°©ë²• 1. íŠœí”Œ í˜•íƒœë¡œ ìˆ˜ì •

In [23]:
c.execute("UPDATE test SET PRODUCT_NAME = ? WHERE ID = ?", ('ìŠ¬ë™ìŠ¤', 6))
conn.commit()

#### UPDATE ë°©ë²• 2. ë”•ì…”ë„ˆë¦¬ í˜•íƒœë¡œ ìˆ˜ì •

In [24]:
c.execute("UPDATE test SET PRICE = :price WHERE ID = :id", {"price":55000, "id":6})
conn.commit()

#### UPDATE ë°©ë²• 3. %s í‘œì‹œì ì‚¬ìš©

In [25]:
c.execute("UPDATE test SET PRODUCT_NAME = '%s' WHERE ID = '%s'" % ('íŠ¸ëœì¹˜ì½”íŠ¸', 2))
conn.commit()

### 5-5-3. ë°ì´í„° ì‚­ì œ (DELETE)

#### DELETE ë°©ë²• 1. íŠœí”Œ í˜•íƒœë¡œ ì‚­ì œ

In [27]:
c.execute("DELETE FROM test WHERE ID =?", (8,))
conn.commit()

#### DELETE ë°©ë²• 2. ë”•ì…”ë„ˆë¦¬ í˜•íƒœë¡œ ì‚­ì œ

In [28]:
c.execute("DELETE FROM test WHERE PRODUCT_NAME = :product_name", {'product_name':'ìŠ¬ë™ìŠ¤'})
conn.commit()

#### DELETE ë°©ë²• 3. ì „ì²´ ì‚­ì œ

In [29]:
c.execute("DELETE FROM test")
conn.commit()

In [ ]:
# DB ì—°ê²° í•´ì œ
conn.close()