# **Chapter 5. [데이터베이스] 쇼핑몰 데이터베이스 만들기**


---
### 📝 **학습 목차**
> 5-1. 프로젝트 개요 <br>
> 5-2. csv 파일 다루기 - csv <br>
> 5-3. 데이터 베이스 연결 - sqlite3 <br>
> 5-4. 데이터 불러오기, 조회하기 - fetchone, fetchall <br>
> **5-5. 데이터 삽입, 수정, 삭제** <br>
> 5-6. 데이터 백업하기 - iterdump <br>
> 5-7. 프로젝트 실습

## 5-5. 데이터 삽입, 수정, 삭제

> ### 데이터 베이스 쿼리 기본 구문
> - `SELECT` : 데이터 선택
> - `INSERT` : 데이터 삽입
> - `UPDATE` : 데이터 수정
> - `DELETE` : 데이터 삭제

### 5-5-1. 데이터 삽입 (INSERT)

In [9]:
import sqlite3

In [10]:
# 연습용 DB 연결
conn = sqlite3.connect("test.db")

In [11]:
# 커서 생성
c = conn.cursor()

In [12]:
# 테이블 생성
query = '''CREATE TABLE test (ID INTEGER PRIMARY KEY, PRODUCT_NAME TEXT, PRICE INTEGER)'''
c.execute(query)

In [13]:
# 테이블 생성확인
c.execute('''SELECT * FROM sqlite_master WHERE type="table"''')
print(c.fetchall())

[('table', 'test', 'test', 2, 'CREATE TABLE test (ID INTEGER PRIMARY KEY, PRODUCT_NAME TEXT, PRICE INTEGER)')]

#### INSERT 방법 1. 열(키) 항목 순서를 정확히 알고 있는 경우

In [14]:
# 데이터 삽입
c.execute("INSERT INTO test VALUES(1,'모자',150000)")

In [15]:
conn.commit()

In [16]:
# 데이터 삽입
c.execute("INSERT INTO test VALUES(2,'코트',200000)")
conn.commit()

####  INSERT 방법 2. 열(키) 항목 순서를 정확히 모르는 경우

In [17]:
# 데이터 삽입
c.execute("INSERT INTO test(PRODUCT_NAME, PRICE, ID) VALUES(?,?,?)", ('티셔츠', 20000, 3))
conn.commit()

In [18]:
# 데이터 삽입
c.execute("INSERT INTO test(ID, PRICE, PRODUCT_NAME) VALUES(?,?,?)", (4, 55000, '블라우스'))
conn.commit()

####  INSERT 방법 3. 여러 데이터를 한번에 삽입하고 싶은 경우

In [19]:
# 테이블 내용 삭제
c.execute("DELETE FROM test")
conn.commit()

In [21]:
# 추가할 상품 리스트
product_list = [[1, '모자', 15000],
                [2, '코트', 200000],
                [3, '티셔츠', 20000],
                [4, '블라우스', 55000],
                [5, '가디건', 45000],
                [6, '청바지', 50000],
                [7, '구두', 150000],
                [8, '가방', 170000]]

In [22]:
# 데이터 여러줄 삽입
c.executemany("INSERT INTO test(ID, PRODUCT_NAME, PRICE) VALUES(?,?,?)", product_list)
conn.commit()

### 5-5-2. 데이터 수정 (UPDATE)

#### UPDATE 방법 1. 튜플 형태로 수정

In [23]:
c.execute("UPDATE test SET PRODUCT_NAME = ? WHERE ID = ?", ('슬랙스', 6))
conn.commit()

#### UPDATE 방법 2. 딕셔너리 형태로 수정

In [24]:
c.execute("UPDATE test SET PRICE = :price WHERE ID = :id", {"price":55000, "id":6})
conn.commit()

#### UPDATE 방법 3. %s 표시자 사용

In [25]:
c.execute("UPDATE test SET PRODUCT_NAME = '%s' WHERE ID = '%s'" % ('트랜치코트', 2))
conn.commit()

### 5-5-3. 데이터 삭제 (DELETE)

#### DELETE 방법 1. 튜플 형태로 삭제

In [27]:
c.execute("DELETE FROM test WHERE ID =?", (8,))
conn.commit()

#### DELETE 방법 2. 딕셔너리 형태로 삭제

In [28]:
c.execute("DELETE FROM test WHERE PRODUCT_NAME = :product_name", {'product_name':'슬랙스'})
conn.commit()

#### DELETE 방법 3. 전체 삭제

In [29]:
c.execute("DELETE FROM test")
conn.commit()

In [ ]:
# DB 연결 해제
conn.close()